<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mzee982.android.ncoreist"
          android:versionCode="1"
          android:versionName="1.0">

    <!-- Supported SDK versions: GINGERBREAD -> JELLY_BEAN_MR2 ->  -->
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="18"/>

    <!-- Required permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@style/Theme.Ncore">

        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.mzee982.android.ncoreist.FileProvider"
                android:grantUriPermissions="true"
                android:exported="false">
                <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                           android:resource="@xml/filepaths" />
        </provider>

        <activity android:name="com.mzee982.android.ncoreist.StartActivity"
                  android:label="@string/start_activity_label"
                  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.mzee982.android.ncoreist.LoginActivity"
                  android:label="@string/login_activity_label"
                  android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.mzee982.android.ncoreist.CategoriesActivity"
                  android:label="@string/categories_activity_label"
                  android:launchMode="singleTop"/>

        <activity android:name="com.mzee982.android.ncoreist.SearchResultsActivity"
                  android:label="@string/search_results_activity_label"
                  android:parentActivityName="com.mzee982.android.ncoreist.CategoriesActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.mzee982.android.ncoreist.CategoriesActivity"/>
        </activity>

        <activity android:name="com.mzee982.android.ncoreist.TorrentDetailsActivity"
                  android:label="@string/torrent_details_activity_label"
                  android:parentActivityName="com.mzee982.android.ncoreist.CategoriesActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.mzee982.android.ncoreist.IndexActivity" />
        </activity>

        <activity android:name="com.mzee982.android.ncoreist.SlideShowActivity"
                  android:label="@string/slideshow_activity_label"
                  android:parentActivityName="com.mzee982.android.ncoreist.TorrentDetailsActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.mzee982.android.ncoreist.TorrentDetailsActivity" />
        </activity>

    </application>

</manifest>
